<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../css/alertify.css">
    <link rel="stylesheet" href="../../../css/themes/default.css">
    <title>ADMIN/CREAR</title>
  </head>
  <body>

    <br><br>
      <nav class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="../../panel-admin.html"> <img src="../../../img/iconos/grid-three-up-3x.png" alt=""> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../../panel-admin.html">Regresar a panel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../index.html">Cerrar Sesión</a>
            </li>
          </ul>
        </div>
      </nav>

    <br>

    <h1 class="display-4 text-center">Crear Administrador </h1>
    <br>
    <br>

    <section class="container">
      <form novalidate>
        <div class="form-group">
          <label for="nombre">Nombre de usuario: <span class="req">*</span></label>
          <input type="text" class="form-control" id="username" placeholder="Usuario" data-type="usuario">
        </div>
        <div class="form-group">
          <label for="ap-paterno">Contraseña: <span class="req">*</span></label>
          <input type="password" class="form-control" id="password" placeholder="******" data-type="contrasena">
        </div>
        <div class="form-group">
          <label for="name">Nombre(s): <span class="req">*</span></label>
          <input type="text" class="form-control" id="name" placeholder="Nombre(s)" data-type="nombre">
        </div>
        <div class="form-group">
          <label for="last_name">Apellido(s): <span class="req">*</span></label>
          <input type="text" class="form-control" id="last_name" placeholder="Apellido(s)" data-type="nombre">
        </div>
        <div class="form-group">
          <label for="email">Email: <span class="req">*</span></label>
          <input type="email" class="form-control" id="email" placeholder="Email" data-type="correo">
        </div>
        <div class="form-group">
          <label for="phone">Telefono: <span class="req">*</span></label>
          <input type="email" class="form-control" id="phone" placeholder="Telefono" data-type="numero">
        </div>
        <button type="button" id="submit" class="btn btn-primary">Crear</button>
      </form>

    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../../js/vendor/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="../../../js/alertify.min.js" type="text/javascript"></script>
    <script src="../../../js/md5.min.js" type="text/javascript"></script>
    <script src="../../../js/validation.js" type="text/javascript"></script>
    <script src="../../../js/views/admin/administrador/crear.js" type="text/javascript"></script>
  </body>
</html>
