$primaryColor: #616161;
$primaryLightColor: #8e8e8e;
$primaryDarkColor: #373737;
$secondaryColor: #0091ea;
$secondaryLightColor: #64c1ff;
$secondaryDarkColor: #0064b7;
$primaryTextColor: #ffffff;
$secondaryTextColor: #000000;
